NODE_ENV=development
HOST=localhost
EXTRA_HOSTS=http://127.0.0.1:3000, http://0.0.0.0:3000
PORT=3000
BASE=/

GOOGLE_SITE_VERIFICATION=

EMAIL_ADDRESS=
GITHUB_LINK=https://github.com/yvnbunag
GITLAB_LINK=https://gitlab.com/yvnbunag
LINKEDIN_LINK=
TWITTER_LINK=
DOCKER_HUB_LINK=
NPM_LINK=

PORTFOLIO_REPOSITORY=https://gitlab.com/yvnbunag/yvnbunag.gitlab.io

DOCK_REPOSITORY=https://gitlab.com/yvnbunag/dock
DOCK_NPM_URL=https://www.npmjs.com/package/@yvnbunag/dock

SCAFFOLD_REPOSITORY=https://gitlab.com/yvnbunag/scaffold
SCAFFOLD_NPM_URL=https://www.npmjs.com/package/@yvnbunag/scaffold

LIBRARY_SYSTEM_REPOSITORY=https://gitlab.com/yvnbunag/library-system-stack

SIMPLE_CALCULATOR_REPOSITORY=https://gitlab.com/yvnbunag/java-projects/-/tree/main/simple-calculator
SIMPLE_CIRCUIT_CALCULATOR_REPOSITORY=https://gitlab.com/yvnbunag/java-projects/-/tree/main/simple-circuit-calculator
OHMS_LAW_CALCULATOR_REPOSITORY=https://gitlab.com/yvnbunag/java-projects/-/tree/main/ohms-law-calculator

PYTHON_CHALLENGES_REPOSITORY=https://gitlab.com/yvnbunag/python-challenges
TYPESCRIPT_CHALLENGES_REPOSITORY=https://gitlab.com/yvnbunag/typescript-challenges
GO_KATA_REPOSITORY=https://github.com/yvnbunag/go-kata
JAVA_KATA_REPOSITORY=https://github.com/yvnbunag/java-kata

CPU_SCHEDULING_SIMULATOR_REPOSITORY=https://gitlab.com/yvnbunag/cpu-scheduling-simulator
CPU_SCHEDULING_SIMULATOR_URL=https://yvnbunag.gitlab.io/cpu-scheduling-simulator/

TIC_TAC_TOE_REPOSITORY=https://gitlab.com/yvnbunag/tic-tac-toe
TIC_TAC_TOE_URL=https://yvnbunag.gitlab.io/tic-tac-toe/

ONESIMO_FOUNDATION_LINK=
ONESIMO_FOUNDATION_CHANGE_TRAILER_LINK=
ONESIMO_FOUNDATION_CHANGE_FILM_LINK=


CASA_BURGOS_LINK=

KEYWEST_INTERNATIONALE_LINK=
CRANE_PHILIPPINES_LINK=
OPTIMUM_INDUSTRIAL_LINK=

RUSTIC_TABLE_LINK=

RAIN_3D_ANIMATION_LINK=
WINE_3D_ANIMATION_LINK=
PLASMA_3D_ANIMATION_LINK=

FEU_TECH_LINK=
CODE_NINJA_LINK=
IMPORTGENIUS_LINK=
LIGHTSPEED_LINK=
INFORM_GROUP_LINK=
