NODE_ENV=development
HOST=localhost
PORT=3000
BASE=/portfolio/

GOOGLE_SITE_VERIFICATION=
GOOGLE_GTAG_ID=

EMAIL_ADDRESS=
GITLAB_LINK=
LINKEDIN_LINK=
TWITTER_LINK=
FACEBOOK_LINK=
NPM_LINK=

PORTFOLIO_REPOSITORY=https://gitlab.com/yvnbunag/portfolio

DOCK_REPOSITORY=https://gitlab.com/yvnbunag/dock
DOCK_NPM_URL=https://www.npmjs.com/package/@yvnbunag/dock

LIBRARY_SYSTEM_REPOSITORY=https://gitlab.com/yvnbunag/library-system-stack

SIMPLE_CALCULATOR_REPOSITORY=https://gitlab.com/yvnbunag/java-projects/-/tree/main/simple-calculator
SIMPLE_CIRCUIT_CALCULATOR_REPOSITORY=https://gitlab.com/yvnbunag/java-projects/-/tree/main/simple-circuit-calculator
OHMS_LAW_CALCULATOR_REPOSITORY=https://gitlab.com/yvnbunag/java-projects/-/tree/main/ohms-law-calculator

PYTHON_CHALLENGES_REPOSITORY=https://gitlab.com/yvnbunag/python-challenges

CHANGE_ONESIMO_FOUNDATION_LINK=
ONESIMO_FOUNDATION_CHANGE_TRAILER_LINK=
ONESIMO_FOUNDATION_CHANGE_FILM_LINK=

CPU_SCHEDULING_SIMULATOR_REPOSITORY=https://gitlab.com/yvnbunag/cpu-scheduling-simulator
CPU_SCHEDULING_SIMULATOR_URL=

CASA_BURGOS_LINK=

KEYWEST_INTERNATIONALE_LINK=
CRANE_PHILIPPINES_LINK=
OPTIMUM_INDUSTRIAL_LINK=

RUSTIC_TABLE_LINK=

RAIN_3D_ANIMATION_LINK=
WINE_3D_ANIMATION_LINK=
PLASMA_3D_ANIMATION_LINK=

FEU_TECH_LINK=
CODE_NINJA_LINK=
IMPORTGENIUS_LINK=
