html {
  scroll-behavior: smooth;
  background-color: $dark-slate-gray;
}

.main {
  background-color: $dark-slate-gray;
}

.emphasized-title {
  text-decoration: underline solid currentColor;
  text-underline-offset: 2px;
  border-bottom: 2px dashed currentColor;
}

.semi-transparent-bg {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.full-height {
  height: 100%;
}

.center {
  margin: auto;
}

.margin-less {
  margin: 0 !important;
}

.padding-less {
  padding: 0 !important;
}

.bound-less {
  @extend .margin-less;
  @extend .padding-less;
}

.absolute {
  position: absolute;
}
