.g-text-pair {
  font-family: 'Raleway', sans-serif !important;
}

.g-text-pair-accent {
  font-family: sans-serif !important;
}

.g-emphasized-title {
  text-decoration: underline solid currentColor;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
  border-bottom: 2px dashed currentColor;
}
